<h1>Cadastrar Login</h1>
<form method="post" id="form-cadastra-login" action="/{{controlador}}/novo">
	<input type="hidden" name="token" value="{{token}}">

	<div class="input-text">
		<input type="text" name="nome" id="nome" autocomplete="off" accesskey="no" placeholder="nome" />
		<label for="nome">Nome</label>
	</div>

	<div class="input-select">
		<select id="group" name="group" autocomplete="off" accesskey="ac">
			<option value="4">Professor</option>
			<option value="5">Administrador</option>
		</select>
		<label for="group">Acesso</label>
	</div>
	<div class="input-text">
		<input type="tel" name="cpf" id="cpf" autocomplete="off" accesskey="cp" placeholder="cpf" />
		<label for="cpf">CPF</label>
	</div>
	<div class="input-text">
		<input type="password" name="senha" id="senha" autocomplete="off" accesskey="se" placeholder="senha" />
		<label for="senha">Senha</label>
	</div>

	<p class="text-center"><button id="submit">ENTRAR</button></p>
</form>
<div id="res-ajax"></div>
<script>
$(document).ready(function() {
	$("#form-cadastra-login").submit(function(event){
		event.preventDefault();

		var post_url 		= $(this).attr("action");
		var request_method 	= $(this).attr("method");
		var form_data 		= $(this).serialize();

		var resAjax 		= $("#res-ajax");
		
		var btnSubmit = $('#btn-submit');

		resAjax.html('Aguarde...');
		$.ajax({
			url : post_url,
			type: request_method,
			data : form_data
		}).done(function(data){

			var data = jQuery.parseJSON(data);

			if(data.res == 'ok'){

				$("#res-ajax").html(data.info);

			}else{
				
				$("#res-ajax").html(data.info);
			}

		}).fail(function(data) {
			$("#res-ajax").html('Erro no Request');
		});
	});
});
</script>