{{navegacao}}

<h1>Cadastrar Vaga</h1>

<br />
<br />
<br />
<form action="/{{controlador}}/novo" method="post">
	<input type="hidden" name="token" value="{{token}}" />

	<div>Vagas</div>
	<div><input type="number" name="vagas" step="1" max="25"></div>
	<br />

	<div>Disciplina</div>
	<div>
		<select name="disciplina">
			{{vagas}}
		</select>
	</div>
	<br />

	<div>Até Dia</div>
	<div><input type="date" name="atedia" value="2018-10-29"/></div>
	<br />

	<div>Descricao</div>
	<div><textarea name="descricao"></textarea>
	<br />

	<p><button>Cadastrar</button></p>
</form>