<h1>LOGIN</h1>

<form method="post" id="form-login" action="/login/entrar">
	<input type="hidden" name="token" value="{{token}}">

	<div class="input-text">
		<input type="tel" name="cpf" id="cpf" autocomplete="off" accesskey="c" placeholder="cpf" />
		<label for="cpf">CPF</label>
	</div>
	<div class="input-text">
		<input type="password" name="senha" id="senha" autocomplete="off" accesskey="s" placeholder="senha" />
		<label for="senha">Senha</label>
	</div>

	<p class="text-center"><button id="submit">ENTRAR</button></p>
</form>
<div id="res-ajax"></div>
<script>
$(document).ready(function(){

  $('#cpf').mask('000.000.000-00', {reverse: true});

	$("#form-login").submit(function(event){
		event.preventDefault();

		var post_url 		= $(this).attr("action");
		var request_method 	= $(this).attr("method");
		var form_data 		= $(this).serialize();

		var resAjax 		= $("#res-ajax");
		
		var btnSubmit = $('#btn-submit');

		resAjax.html('Aguarde...');
		$.ajax({
			url : post_url,
			type: request_method,
			data : form_data
		}).done(function(data){

			var data = jQuery.parseJSON(data);

			if(data.res == 'ok'){

				window.location.href = "/";

			}else{
				
				$("#res-ajax").html(data.info);
			}

		}).fail(function(data) {
			$("#res-ajax").html('Erro no Request');
		});
	});
});
</script>