{{navegacao}}

<h1>Cadastrar aluno</h1>

<form action="/{{controlador}}/novo" id="form-cadastra-pessoa" method="post">

	<input type="hidden" name="token" value="{{token}}" />

	<div class="inline-block width-50">
		<div class="input-text">
			<input type="text" name="nome" id="nome" autocomplete="off" accesskey="no" placeholder="nome completo" />
			<label for="nome">Nome</label>
		</div>
	</div>
	<div class="inline-block width-50">
		<div class="input-text">
			<input type="tel" name="cpf" id="cpf" autocomplete="off" accesskey="cp" placeholder="cpf" />
			<label for="cpf">CPF</label>
		</div>
	</div>

	<div class="inline-block width-50">
		<div class="input-text">
			<input type="tel" name="nascimento" id="nascimento" autocomplete="off" accesskey="na" placeholder="nascimento" />
			<label for="nascimento">Nascimento</label>
		</div>
	</div>
	<div class="inline-block width-50">
		<div class="input-select">
			<select name="sexo" autocomplete="off" accesskey="se" >
				<option value="1">Homem</option>
				<option value="2">Mulher</option>
				<option value="3">Outro</option>
			</select>
			<label>Sexo</label>
		</div>
	</div>
	<div class="inline-block width-50">
		<div class="input-text">
			<input type="tel" name="rg" id="rg" autocomplete="off" accesskey="rg" placeholder="rg" />
			<label for="rg">RG</label>
		</div>
	</div>
	<div class="inline-block width-50">
		<div class="input-select">
			<select name="tipo" autocomplete="off" accesskey="ti" >
				<option value="1">Aluno</option>
				<option value="2">Professor</option>
			</select>
			<label>Tipo</label>
		</div>
	</div>
	<div class="st-space-4"></div>
	<h2>Contato</h2>
	<div class="st-space-3"></div>

	<div class="inline-block width-50">
		<div class="input-text">
			<input type="tel" name="whatsapp" id="whatsapp" autocomplete="off" accesskey="wh" placeholder="whatsapp" />
			<label for="whatsapp">Whatsapp</label>
		</div>
	</div>
	<div class="inline-block width-50">
		<div class="input-text">
			<input type="tel" name="telefone" id="telefone" autocomplete="off" accesskey="te" placeholder="telefone" />
			<label for="telefone">Telefone</label>
		</div>
	</div>
	<div class="input-text">
		<input type="email" name="email" id="email" autocomplete="off" accesskey="em" placeholder="e-mail" />
		<label for="email">E-mail</label>
	</div>

	<p class="text-center"><button id="btn-submit">Cadastrar</button></p>
</form>
<div id="res-ajax"></div>
<script>
$(document).ready(function() {
	$("#form-cadastra-pessoa").submit(function(event){
		event.preventDefault();

		var post_url 		= $(this).attr("action");
		var request_method 	= $(this).attr("method");
		var form_data 		= $(this).serialize();

		var resAjax 		= $("#res-ajax");
		
		var btnSubmit = $('#btn-submit');

		resAjax.html('Aguarde...');
		$.ajax({
			url : post_url,
			type: request_method,
			data : form_data
		}).done(function(data){

			var data = jQuery.parseJSON(data);

			if(data.res == 'ok'){

				$("#res-ajax").html(data.info);

			}else{
				
				$("#res-ajax").html(data.info);
			}

		}).fail(function(data) {
			$("#res-ajax").html('Erro no Request');
		});
	});
});
</script>